html {
    height: 100%;

}

body {
    padding-bottom: 72px;
}

.myFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 72px;
    background: whitesmoke;
}

.footerText {
    font-size: medium;
    font-weight: bolder;
    color: grey;
}

.myHeader {
    width: 100%;
    height: 100%;
    background: white;
    padding: 0;
    border-bottom: 1px solid #e8e8e8;
}

.navMenu {
    border-bottom: none;
}

.menuItem {
    float: right;
    margin-top: 0 !important;
}

.logo {
    color: aqua;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 30px;
    float: left;
    line-height: 40px;
    margin-top: 3px;
}

.logoIcon {
    margin-right: 5px;
}

.content {
    background: white;
}